{erl_opts, [
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import,
            warn_bif_clash,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.

{require_otp_vsn, "R14|R15"}.
{edoc_opts, [{todo, true}]}.

{deps, [{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {eredis, ".*", {git, "git://github.com/wooga/eredis.git", "master"}},
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}}
]}.
